
<style>
  nav li{
    list-style: none;
    color: white;
  }

  nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: -2rem;
  }

  nav{
  background-color: black;
  height: 2rem;
  align-content: center;
  width: 31rem;

  }

  
</style>


<nav>
  <ul>
    <li>Home</li>
    <li>Custom</li>
    <li>Sedan</li>
    <li>SUV</li>
    <li>Truck</li>
  </ul>
</nav>
