
<style>
  nav li{
    list-style: none;
    color: green;
  }

  nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: -2rem;
  }
  nav li:nth-child(6) {
    /* padding-right: 10rem; */
  }

  
</style>


<nav>
  <ul>
    <li>Home</li>
    <li>Custom</li>
    <li>Sedan</li>
    <li>SUV</li>
    <li>Truck</li>
  </ul>
</nav>
